body{
    font-family: 'Open Sans';
}

.container header{
    max-width: 1090px;
    margin: 0 auto;
}

.header-li{
    display: inline-block;
    margin-right: 47px;
}

.header-li > a{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #000;
}

.header-ul{
    text-align: center;
}

.header{
    padding: 53px 77px;
}

.bg-section{
    background-image: url('../img/pexels-harrison-candlin-2441454\ 1.png');
    padding: 138px 264px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-text{
    font-weight: bold;
font-size: 72px;
line-height: 98px;
text-align: center;
color: #FFFFFF;
}

.bg-button{
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #162C38;
    position: center;
    width: 420px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 5px;
    

}
.button{
    text-align: center;
}

.bg-h2{
    background: #162C38;
    padding: 133px 0;
    padding-left: 370px;
    padding-right: 340px;
    
font-weight: normal;
font-size: 36px;
line-height: 49px;
text-align: center;
}